<section class="blog">
  <header class="blog__header">
    <h1 class="blog__title">Blog</h1>
    <p class="blog__subtitle">Sistema de Blogging en Angular</p>
  </header>

  <div class="blog__grid">
    <!-- LISTADO -->
    <main class="panel">
      <h2 class="panel__title">Listado de noticias</h2>

      <div class="news-list">
  @for (n of noticias; track n.titulo) {
    <article class="news">
      <img class="news__img" [src]="n.imagen" [alt]="n.titulo" />

      <h3 class="news__title">{{ n.titulo }}</h3>
      <p class="news__meta">{{ n.autor }} · {{ n.fecha }}</p>

      <p class="news__text">
        {{ n.texto }}
      </p>
    </article>
  }
</div>
    </main>

    <!-- FORMULARIO -->
    <aside class="panel panel--form">
      <h2 class="panel__title">Nueva noticia</h2>

      <!-- (Solo maqueta; luego haremos validación y submit) -->
      <form class="form" autocomplete="off">
        <label class="field">
          <span class="field__label">Título</span>
          <input class="field__input" type="text" placeholder="Ej: Therian: identidad y comunidad" [(ngModel)]="nuevaNoticia.titulo" name="titulo" />
          <small class="field__hint">Obligatorio</small>
        </label>

        <label class="field">
          <span class="field__label">Autor</span>
          <input class="field__input" type="text" placeholder="Ej: Suso" [(ngModel)]="nuevaNoticia.autor" name="autor" />
          <small class="field__hint">Obligatorio</small>
        </label>

        <label class="field">
          <span class="field__label">Fecha</span>
          <input class="field__input" type="date" [(ngModel)]="nuevaNoticia.fecha" name="fecha" />/>
          <small class="field__hint">Obligatorio</small>
        </label>

       <label class="field">
        <span class="field__label">Imagen (URL)</span>
        <input class="field__input" type="url" placeholder="https://ejemplo.com/imagen.jpg" [(ngModel)]="nuevaNoticia.imagen" name="imagen" />
        <small class="field__hint">Obligatorio</small>
        </label> 

        <label class="field">
          <span class="field__label">Contenido</span>
          <textarea class="field__input field__input--textarea" rows="5" placeholder="Escribe aquí la noticia..."   [(ngModel)]="nuevaNoticia.texto" name="texto"></textarea>
          <small class="field__hint">Obligatorio</small>
        </label>

        <div class="form__actions">
          <button class="btn" type="button">Publicar</button>
          <button class="btn btn--ghost" type="button">Limpiar</button>
        </div>
      </form>
    </aside>
  </div>
</section>